.page-home {
  text-align: center;
  .title {
    font-weight: lighter;
    font-size: xx-large;
    font-family: $font-family-base;
  }
  p {
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: lighter;
    margin-bottom: 40px;
    @include media-breakpoint-up(md) {
      width: 80%;
    }
    @include media-breakpoint-up(lg) {
      width: 60%;
    }
  }
  .margin{
    display: block !important;
    padding: 30px;
  }
  .terminal {
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
  }
}
