  {{ define "title" }}{{ .Site.Title }}{{ end}}
  {{ define "header_css" }}{{ end }}
  {{ define "body_classes" }}page-home{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main" }}
<div>
  <div class="container pt-4 pb-4">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        <div >
          <img src="images/logoWes.png" />
        </div>
        <div class="terminal">
          <h1 class="title">Getting Started With Kubernetes and Container Orchestration</h1>
          Kubernetes (K8s) is a very powerful tool, primarily concerned with orchestrating and automating the deployment and 
          management of networked applications.

          Understanding how Kubernetes works makes you an effective power user for building higher-level platforms. This 
          workshop is aimed at technologists and team leads looking to lift up the hood and understand what are all the 
          major parts of k8s in a fast-paced half-day session. 
          <br /><br />

          <a class="button button-primary mb-2 padded" href="/getting_started_with_k8s/posts/">
            Launch
          </a> 
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}

{{ define "footer_js" }}
{{ end }}
