  {{ define "title" }}{{ .Site.Title }}{{ end}}
  {{ define "header_css" }}{{ end }}
  {{ define "body_classes" }}page-home{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main" }}
<div>
  <div class="container pt-4 pb-4">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        <div >
          <img src="images/logoWes.png" />
        </div>
        <div class="terminal">
          <h1 class="title">Introduction to Containers and Containerization</h1>
          Containers are the new unit of deployment. The reason is simple: containers are a very powerful tool that can streamline development and ops, save companies money by focusing on deploying a packaged unit, and reduce the friction in delivering software. However, the flip side is they’re a new paradigm to understand, many things are abstracted away, and they require apps to be built with a specific architecture to take full advantage of their features.
          
          In this hands-on workshop, you will learn about Docker basic concepts, how to run containers, create your own images, interact with the "Docker Hub", and more.
          
          <br /><br />

          <a class="button button-primary mb-2 padded" href="/getting_started_with_containerization/posts/">
            Launch
          </a> 
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}

{{ define "footer_js" }}
{{ end }}
